/* Основные стили */
body {
    font-family: 'PT Astra Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EBE6D6;
    color: #163E6C;
}

header, footer {
    background-color: #163E6C;
    color: #EBE6D6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 50px;
}

.header-center {
    text-align: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-title {
    margin: 0;
    font-size: 1.1em;
    color: #D20A11;
}

.button.login-button {
    color: #D20A11;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #163E6C;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #163E6C;
    color: #EBE6D6;
}

button {
    background-color: #163E6C;
    color: #EBE6D6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #D20A11;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.footer-container span {
    display: block;
    margin: 5px 0;
}

.info-header {
    text-align: center;
    margin: 20px 0;
}
