body {
    font-family: 'PT Astra Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EBE6D6;
    color: #163E6C;
}

header, footer {
    background-color: #163E6C;
    color: #EBE6D6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.table-header a:link,
.table-header a:visited,
.table-header a:hover,
.table-header a:active {
    color: #EBE6D6 !important;
    text-decoration: none !important;
}

.header-left, .footer-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 50px;
}

.header-center {
    text-align: center;
    flex: 1;
    min-width: 200px;
}

.header-right, .footer-right {
    display: flex;
    align-items: center;
}

.header-title {
    margin: 0;
    font-size: 1.1em;
    color: #EBE6D6;
}

.button.login-button {
    color: #EBE6D6;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    flex-grow: 1;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background-color: #163E6C;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
}

.tab.active {
    background-color: #756AB6;
    color: #EBE6D6;
}


main {
    padding: 20px;
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.7em;
}

table th, table td {
    border: 1px solid #163E6C;
    padding: 6px;
    text-align: left;
}

table th {
    background-color: #163E6C;
    color: #EBE6D6;
}

button {
    background-color: #163E6C;
    color: #EBE6D6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #D20A11;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.info-header {
    text-align: center;
    margin: 20px 0;
}

.detail-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
}

.left-column, .right-column {
    flex: 1;
    min-width: 0; /* Это позволит колонкам сжиматься при необходимости */
}

.filter-form {
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    flex-wrap: wrap;
}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    min-width: 150px;
}

.filter-item select,
.filter-item input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.filter-item label {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
    align-self: flex-start;
}

.filter-button {
    padding: 5px 10px;
    background-color: #163E6C;
    color: #EBE6D6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    align-self: flex-end;
}

.filter-button:hover {
    background-color: #D20A11;
}


@media (max-width: 1440px) {
    .header-left img {
        height: 40px;
    }

    .header-title {
        font-size: 1.3em;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    table th, table td {
        padding: 6px;
    }

}

@media (max-width: 768px) {
    header, footer {
        flex-direction: column;
        text-align: center;
    }

    .header-left, .footer-left, .header-right, .footer-right {
        justify-content: center;
    }

    .header-title {
        font-size: 1.2em;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }

    table th, table td {
        font-size: 12px;
        padding: 4px;
    }
}

@media (max-width: 480px) {
    .header-left img {
        height: 30px;
    }

    .header-title {
        font-size: 1em;
    }

    button {
        font-size: 10px;
        padding: 4px 8px;
    }

    table th, table td {
        font-size: 10px;
        padding: 2px;
    }
}
