<!-- inventory/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Силант{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="header-container">
        <div>
            <img src="{% static 'images/Logotype_red.png' %}" alt="логотип">
            <span>+7-8352-20-12-09, telegram</span>
        </div>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Выйти из сервиса</a>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer-container">
        <div>
            <span>+7-8352-20-12-09, telegram</span>
            <span>Мой Силант 2023</span>
        </div>
    </footer>
</body>
</html>
