<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Силант{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="header-container">
        <div class="header-left">
            <img src="{% static 'images/Logotype_red.png' %}" alt="логотип">
        </div>
        <div class="header-center">
            <span>+7-8352-20-12-09, telegram</span>
            <h2 class="header-title">Электронная сервисная книжка "Мой Силант"</h2>
        </div>
        <div class="header-right">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="button">Выйти из сервиса</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="button login-button">Войти</a>
            {% endif %}
        </div>
    </header>
    <div class="info-header">
        <p>Проверьте комплектацию и технические характеристики техники Силант</p>
        {% if user.is_authenticated %}
            <p>Пользователь: {{ user.username }}</p>
        {% endif %}
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer-container">
        <div class="footer-left">
            <span>+7-8352-20-12-09, telegram</span>
        </div>
        <div class="footer-right">
            <span>Мой Силант 2023</span>
        </div>
    </footer>
</body>
</html>
