<!-- client_view.html -->
{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}Страница клиента{% endblock %}

{% block content %}
<main>
    <section class="main-container">
        <div class="tabs">
            <button onclick="showTab('machines')" class="active">Мои машины</button>
            <button onclick="showTab('maintenances')">Техническое обслуживание</button>
        </div>

        <div id="machines" class="tab-content active">
            <h2>Машины</h2>
            <form method="get">
                {{ machine_filter.form.as_p }}
                <button type="submit">Фильтр</button>
            </form>
            <table>
                <thead>
                <tr class="table-header">
                    <th><a href="?order_by=model_technique">Модель техники</a></th>
                    <th><a href="?order_by=serial_number">Зав. № машины</a></th>
                    <th><a href="?order_by=model_engine">Модель двигателя</a></th>
                    <th><a href="?order_by=model_transmission">Модель трансмиссии</a></th>
                    <th><a href="?order_by=model_drive_axle">Модель ведущего моста</a></th>
                    <th><a href="?order_by=model_steering_axle">Модель управляемого моста</a></th>
                    <th><a href="?order_by=shipment_date">Дата отгрузки с завода</a></th>
                </tr>
                </thead>
                <tbody>
                {% for machine in machine_filter.qs %}
                <tr data-id="{{ machine.id }}">
                    <td>{{ machine.model_technique }}</td>
                    <td>{{ machine.serial_number }}</td>
                    <td>{{ machine.model_engine }}</td>
                    <td>{{ machine.model_transmission }}</td>
                    <td>{{ machine.model_drive_axle }}</td>
                    <td>{{ machine.model_steering_axle }}</td>
                    <td>{{ machine.shipment_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="maintenances" class="tab-content">
            <h2>Техническое обслуживание</h2>
            <form method="get">
                {{ maintenance_filter.form.as_p }}
                <button type="submit">Фильтр</button>
            </form>
            <table>
                <thead>
                <tr class="table-header">
                    <th><a href="?order_by=machine__serial_number">Машина</a></th>
                    <th><a href="?order_by=maintenance_type">Вид ТО</a></th>
                    <th><a href="?order_by=maintenance_date">Дата проведения ТО</a></th>
                    <th><a href="?order_by=operating_time">Наработка, м/час</a></th>
                    <th><a href="?order_by=service_company__first_name">Сервисная компания</a></th>
                </tr>
                </thead>
                <tbody>
                {% for maintenance in maintenance_filter.qs %}
                <tr data-id="{{ maintenance.id }}">
                    <td>{{ maintenance.machine.serial_number }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.maintenance_type }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.maintenance_date }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.operating_time }}</td>
                    <td>{{ maintenance.service_company.first_name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="save-maintenance-button" style="display:none;">Сохранить изменения в ТО</button>
        </div>
    </section>
</main>

<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
