{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}Поиск машины{% endblock %}

{% block content %}
<main>
    <section>
        <h2>Поиск машины по заводскому номеру</h2>
        <form method="get" action="{% url 'machine_search' %}">
            <label for="serial_number">Заводской номер машины:</label>
            <input type="text" id="serial_number" name="serial_number" required>
            <button type="submit">Поиск</button>
        </form>
    </section>
</main>
{% endblock %}
