{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}Детальная информация о машине{% endblock %}

{% block content %}
<main>
    <section class="main-container">
        <h2>Детальная информация о машине</h2>
        <div class="detail-container">
            <div class="left-column">
                <h3>Технические характеристики</h3>
                <h4>{{ machine.model_technique }}</h4>
                <p><strong>Серийный номер:</strong> {{ machine.serial_number }}</p>
                <p><strong>Модель двигателя:</strong> {{ machine.model_engine }}</p>
                <p><strong>Модель трансмиссии:</strong> {{ machine.model_transmission }}</p>
                <p><strong>Модель ведущего моста:</strong> {{ machine.model_drive_axle }}</p>
                <p><strong>Модель управляемого моста:</strong> {{ machine.model_steering_axle }}</p>
                <p><strong>Дата отгрузки:</strong> {{ machine.shipment_date }}</p>
            </div>
            <div class="right-column">
                <h3>Описание</h3>
                {{ machine.description|linebreaks }}
            </div>
        </div>
    </section>
</main>
{% endblock %}