{% extends 'inventory/base.html' %}
{% block title %}Детали ТО{% endblock %}
{% block content %}
<main>
    <section class="main-container">
        <h1>Детали ТО</h1>
        <p>Машина: {{ maintenance.machine.serial_number }}</p>
        <p>Вид ТО: {{ maintenance.maintenance_type }}</p>
        <p>Дата проведения ТО: {{ maintenance.maintenance_date }}</p>
        <p>Наработка: {{ maintenance.operating_time }}</p>
        <p>Номер заказа: {{ maintenance.order_number }}</p>
        <p>Дата заказа: {{ maintenance.order_date }}</p>
        <p>Сервисная компания: {{ maintenance.service_company.first_name }}</p>
    </section>
</main>
{% endblock %}
