{% extends 'inventory/base.html' %}
{% block title %}Детали рекламации{% endblock %}
{% block content %}
<main>
    <section class="main-container">
        <h1>Детали рекламации</h1>
        <p>Машина: {{ reclamation.machine.serial_number }}</p>
        <p>Дата отказа: {{ reclamation.failure_date }}</p>
        <p>Наработка: {{ reclamation.operating_time }}</p>
        <p>Узел отказа: {{ reclamation.failure_unit }}</p>
        <p>Описание отказа: {{ reclamation.failure_description }}</p>
        <p>Способ восстановления: {{ reclamation.recovery_method }}</p>
        <p>Используемые запчасти: {{ reclamation.used_spare_parts }}</p>
        <p>Дата восстановления: {{ reclamation.recovery_date }}</p>
        <p>Время простоя: {{ reclamation.downtime }}</p>
        <p>Сервисная компания: {{ reclamation.service_company.first_name }}</p>
    </section>
</main>
{% endblock %}
