{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}Страница сервисной компании{% endblock %}

{% block content %}
<main>
    <section class="main-container">
        <!-- Верхняя информация -->
        <div class="user-info">
            <h3> Вы авторизованы как</h3>
            <h1>сервисная компания: {{ user.first_name }}</h1>
        </div>

        <!-- Вкладки для переключения между разделами -->
        <div class="tabs">
            <button id="tab-machines" class="tab active">Машины</button>
            <button id="tab-maintenances" class="tab">Техническое обслуживание</button>
            <button id="tab-reclamations" class="tab">Рекламации</button>
        </div>

        <!-- Таблица с машинами -->
        <div id="machines" class="tab-content active">
            <h2>Проверьте комплектацию и технические характеристики техники Силант</h2>
            <!-- Форма фильтрации данных -->
            <form method="get" class="filter-form">
                <div class="filter-container">
                    <div class="filter-item">
                        {{ machine_filter.form.model_technique }}
                        <label>Модель техники</label>
                    </div>
                    <div class="filter-item">
                        {{ machine_filter.form.model_engine }}
                        <label>Модель двигателя</label>
                    </div>
                    <div class="filter-item">
                        {{ machine_filter.form.model_transmission }}
                        <label>Модель трансмиссии</label>
                    </div>
                    <div class="filter-item">
                        {{ machine_filter.form.model_steering_axle }}
                        <label>Модель управляемого моста</label>
                    </div>
                    <div class="filter-item">
                        {{ machine_filter.form.model_drive_axle }}
                        <label>Модель ведущего моста</label>
                    </div>
                    <button type="submit" class="filter-button">Найти</button>
                </div>
            </form>

            <table id="machines-table">
                <thead>
                <tr class="table-header">
                    <th><a href="?order_by=serial_number">Зав. № машины</a></th>
                    <th><a href="?order_by=model_technique">Модель техники</a></th>
                    <th><a href="?order_by=model_engine">Модель двигателя</a></th>
                    <th><a href="?order_by=engine_serial_number">Зав. № двигателя</a></th>
                    <th><a href="?order_by=model_transmission">Модель трансмиссии</a></th>
                    <th><a href="?order_by=transmission_serial_number">Зав. № трансмиссии</a></th>
                    <th><a href="?order_by=model_drive_axle">Модель ведущего моста</a></th>
                    <th><a href="?order_by=drive_axle_serial_number">Зав. № ведущего моста</a></th>
                    <th><a href="?order_by=model_steering_axle">Модель управляемого моста</a></th>
                    <th><a href="?order_by=steering_axle_serial_number">Зав. № управляемого моста</a></th>
                    <th><a href="?order_by=supply_contract">Договор поставки №, дата</a></th>
                    <th><a href="?order_by=shipment_date">Дата отгрузки с завода</a></th>
                    <th><a href="?order_by=consignee">Грузополучатель (конечный потребитель)</a></th>
                    <th><a href="?order_by=supply_address">Адрес поставки (эксплуатации)</a></th>
                    <th><a href="?order_by=equipment">Комплектация (доп. опции)</a></th>
                    <th><a href="?order_by=service_company">Сервисная компания</a></th>
                </tr>
                </thead>
                <tbody>
                <!-- Перебор и отображение списка машин -->
                {% for machine in machine_filter.qs %}
                <tr data-id="{{ machine.id }}" onclick="goToMachineDetail('{{ machine.id }}')">
                    <td>{{ machine.serial_number }}</td>
                    <td>{{ machine.model_technique }}</td>
                    <td>{{ machine.model_engine }}</td>
                    <td>{{ machine.serial_engine }}</td>
                    <td>{{ machine.model_transmission }}</td>
                    <td>{{ machine.serial_transmission }}</td>
                    <td>{{ machine.model_drive_axle }}</td>
                    <td>{{ machine.serial_drive_axle }}</td>
                    <td>{{ machine.model_steering_axle }}</td>
                    <td>{{ machine.serial_steering_axle }}</td>
                    <td>{{ machine.delivery_contract }}</td>
                    <td>{{ machine.shipment_date|date:"Y-m-d" }}</td>
                    <td>{{ machine.consignee }}</td>
                    <td>{{ machine.delivery_address }}</td>
                    <td>{{ machine.configuration }}</td>
                    <td>{{ machine.service_company }}</td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="17">Нет данных</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="save-machines-button" style="display: none;">Сохранить изменения в машинах</button>
        </div>


        <!-- Таблица с техническим обслуживанием -->
        <div id="maintenances" class="tab-content">
            <h2>Информация о проведённых ТО Вашей техники</h2>
            <!-- Форма фильтрации данных -->
            <form method="get" class="filter-form">
                <div class="filter-container">
                    <div class="filter-item">
                        {{ maintenance_filter.form.maintenance_type }}
                        <label for="id_maintenance_type">Вид ТО</label>
                    </div>
                    <div class="filter-item">
                        {{ maintenance_filter.form.serial_number }}
                        <label for="id_serial_number">Зав. № машины</label>
                    </div>
                    <div class="filter-item">
                        {{ maintenance_filter.form.service_company }}
                        <label for="id_service_company">Сервисная компания</label>
                    </div>
                    <button type="submit" class="filter-button">Найти</button>
                </div>
            </form>

            <table id="maintenances-table">
                <thead>
                <tr class="table-header">
                    <th><a href="?order_by=machine__serial_number">Зав. № машины</a></th>
                    <th><a href="?order_by=maintenance_type">Вид ТО</а></th>
                    <th><a href="?order_by=maintenance_date">Дата проведения ТО</а></th>
                    <th><a href="?order_by=operating_time">Наработка, м/час</а></th>
                    <th><a href="?order_by=order_number">№ заказ-наряда</а></th>
                    <th><a href="?order_by=order_date">Дата заказ-наряда</а></th>
                    <th><a href="?order_by=service_company__first_name">Сервисная компания</а></th>
                </tr>
                </thead>
                <tbody>
                <!-- Перебор и отображение списка технического обслуживания -->
                {% for maintenance in maintenance_filter.qs %}
                <tr data-id="{{ maintenance.id }}">
                    <td>{{ maintenance.machine.serial_number }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.maintenance_type }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.maintenance_date|date:"Y-m-d" }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.operating_time }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.order_number }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.order_date|date:"Y-m-d" }}</td>
                    <td contenteditable="true" class="editable">
                        {{ maintenance.service_company.first_name|default:"самостоятельно" }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="save-maintenance-button" style="display: none;">Сохранить изменения в ТО</button>
        </div>


        <!-- Таблица с рекламациями -->
        <div id="reclamations" class="tab-content">
            <h2>Рекламации</h2>
            <!-- Форма фильтрации данных -->
            <form method="get" class="filter-form">
                <div class="filter-container">
                    <div class="filter-item">
                        {{ reclamation_filter.form.failure_unit }}
                        <label>Узел отказа</label>
                    </div>
                    <div class="filter-item">
                        {{ reclamation_filter.form.recovery_method }}
                        <label>Способ восстановления</label>
                    </div>
                    <div class="filter-item">
                        {{ reclamation_filter.form.service_company }}
                        <label>Сервисная компания</label>
                    </div>
                    <button type="submit" class="filter-button">Найти</button>
                </div>
            </form>

            <table id="reclamations-table">
                <thead>
                <tr class="table-header">
                    <th><a href="?order_by=machine__serial_number">Машина</a></th>
                    <th><a href="?order_by=failure_date">Дата отказа</а></th>
                    <th><a href="?order_by=operating_time">Наработка, м/час</а></th>
                    <th><a href="?order_by=failure_unit">Узел отказа</а></th>
                    <th><a href="?order_by=recovery_method">Способ восстановления</а></th>
                    <th><a href="?order_by=service_company__first_name">Сервисная компания</а></th>
                </tr>
                </thead>
                <tbody>
                <!-- Перебор и отображение списка рекламаций -->
                {% for reclamation in reclamation_filter.qs %}
                <tr data-id="{{ reclamation.id }}">
                    <td>{{ reclamation.machine.serial_number }}</td>
                    <td contenteditable="true" class="editable">{{ reclamation.failure_date|date:"Y-m-d" }}</td>
                    <td contenteditable="true" class="editable">{{ reclamation.operating_time }}</td>
                    <td contenteditable="true" class="editable">{{ reclamation.failure_unit }}</td>
                    <td contenteditable="true" class="editable">{{ reclamation.recovery_method }}</td>
                    <td>{{ reclamation.service_company.first_name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="save-reclamation-button" style="display: none;">Сохранить изменения в рекламациях</button>
        </div>
    </section>
</main>

<!-- Подключение скрипта для страницы сервисной компании -->
<script src="{% static 'js/company_scripts.js' %}"></script>

{% endblock %}
