{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}Страница сервисной компании{% endblock %}

{% block content %}
<main>
    <section class="main-container">
        <div class="tabs">
            <button onclick="showTab('machines')" class="active">Машины</button>
            <button onclick="showTab('maintenances')">Техническое обслуживание</button>
            <button onclick="showTab('reclamations')">Рекламации</button>
        </div>

        <div id="machines" class="tab-content active">
            <h2>Машины</h2>
            <form method="get">
                {{ machine_filter.form.as_p }}
                <button type="submit">Фильтр</button>
            </form>
            <table id="machines">
                <thead>
                <tr class="table-header">
                    <th><a href="?order_by=model_technique">Модель техники</a></th>
                    <th><a href="?order_by=serial_number">Зав. № машины</a></th>
                    <th><a href="?order_by=model_engine">Модель двигателя</a></th>
                    <th><a href="?order_by=model_transmission">Модель трансмиссии</a></th>
                    <th><a href="?order_by=model_drive_axle">Модель ведущего моста</a></th>
                    <th><a href="?order_by=model_steering_axle">Модель управляемого моста</a></th>
                    <th><a href="?order_by=shipment_date">Дата отгрузки с завода</a></th>
                </tr>
                </thead>
                <tbody>
                {% for machine in machine_filter.qs %}
                <tr data-id="{{ machine.id }}" onclick="goToMachineDetail('{{ machine.id }}')">
                    <td>{{ machine.model_technique }}</td>
                    <td>{{ machine.serial_number }}</td>
                    <td>{{ machine.model_engine }}</td>
                    <td>{{ machine.model_transmission }}</td>
                    <td>{{ machine.model_drive_axle }}</td>
                    <td>{{ machine.model_steering_axle }}</td>
                    <td>{{ machine.shipment_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="save-machines-button" style="display: none;">Сохранить изменения в машинах</button>
        </div>

        <div id="maintenances" class="tab-content">
            <h2>Техническое обслуживание</h2>
            <form method="get">
                {{ maintenance_filter.form.as_p }}
                <button type="submit">Фильтр</button>
            </form>
            <table id="maintenances">
                <thead>
                <tr class="table-header">
                    <th><a href="?order_by=machine__serial_number">Машина</a></th>
                    <th><a href="?order_by=maintenance_type">Вид ТО</a></th>
                    <th><a href="?order_by=maintenance_date">Дата проведения ТО</a></th>
                    <th><a href="?order_by=operating_time">Наработка, м/час</a></th>
                    <th><a href="?order_by=service_company__first_name">Сервисная компания</a></th>
                </tr>
                </thead>
                <tbody>
                {% for maintenance in maintenance_filter.qs %}
                <tr data-id="{{ maintenance.id }}">
                    <td>{{ maintenance.machine.serial_number }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.maintenance_type }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.maintenance_date|date:"Y-m-d" }}</td>
                    <td contenteditable="true" class="editable">{{ maintenance.operating_time }}</td>
                    <td>{{ maintenance.service_company.first_name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="save-maintenance-button" style="display: none;">Сохранить изменения в ТО</button>
        </div>

        <div id="reclamations" class="tab-content">
            <h2>Рекламации</h2>
            <form method="get">
                {{ reclamation_filter.form.as_p }}
                <button type="submit">Фильтр</button>
            </form>
            <table id="reclamations">
                <thead>
                <tr class="table-header">
                    <th><a href="?order_by=machine__serial_number">Машина</a></th>
                    <th><a href="?order_by=failure_date">Дата отказа</a></th>
                    <th><a href="?order_by=operating_time">Наработка, м/час</a></th>
                    <th><a href="?order_by=failure_unit">Узел отказа</a></th>
                    <th><a href="?order_by=recovery_method">Способ восстановления</a></th>
                    <th><a href="?order_by=service_company__first_name">Сервисная компания</a></th>
                </tr>
                </thead>
                <tbody>
                {% for reclamation in reclamation_filter.qs %}
                <tr data-id="{{ reclamation.id }}">
                    <td>{{ reclamation.machine.serial_number }}</td>
                    <td contenteditable="true" class="editable">{{ reclamation.failure_date|date:"Y-m-d" }}</td>
                    <td contenteditable="true" class="editable">{{ reclamation.operating_time }}</td>
                    <td contenteditable="true" class="editable">{{ reclamation.failure_unit }}</td>
                    <td contenteditable="true" class="editable">{{ reclamation.recovery_method }}</td>
                    <td>{{ reclamation.service_company.first_name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="save-reclamation-button" style="display: none;">Сохранить изменения в рекламациях</button>
        </div>
    </section>
</main>

<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}
